{% extends 'base.html.twig' %}

{% block title %}{{ package.getDisplayName() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('pkg_search') }}
    {{ encore_entry_link_tags('details_page') }}
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('pkg_search') }}
    {{ encore_entry_script_tags('details_page') }}
{% endblock %}

{% block pageBanner %}
    <div class="col-6 mt-3 mb-3">
        <h4>Packages</h4>
    </div>
    <div class="col-6 mb-5">
        <div id="pkg_search"></div>
    </div>
{% endblock %}

{% block body %}
<style>
</style>


<DetailsPage pkg="{{ packageJSON }}"></DetailsPage> 
{% endblock %}
